In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv("D://great learning//supervised//loan prediction//train_u6lujuX_CVtuZ9i.csv")

In [ ]:
train.head()

In [3]:
test = pd.read_csv("D://great learning//supervised//loan prediction//test_Y3wMUE5_7gLdaTN.csv")

In [ ]:
test.head()

In [ ]:
train.isnull().sum()

In [ ]:
test.isnull().sum()

In [ ]:
train.Gender.value_counts()

In [ ]:
train.Gender.fillna(value = "Male" , inplace=True)

In [ ]:
test.Gender.fillna(value = "Male" , inplace=True)

In [ ]:
train.Married.value_counts()

In [ ]:
train.Married.fillna(value = "Yes" , inplace = True)
test.Married.fillna(value = "Yes",inplace=True)

In [ ]:
train.Dependents.value_counts()

In [ ]:
train.Dependents.fillna(value = 0 , inplace=True)
test.Dependents.fillna(value=0,inplace=True)

In [ ]:
train.Self_Employed.value_counts()

In [ ]:
train.Self_Employed.fillna(value = 500 , inplace = True)
test.Self_Employed.fillna(value = 500 , inplace = True)

In [ ]:
train.LoanAmount.describe()

In [ ]:
train.LoanAmount.fillna(value = 128 , inplace=True)
test.LoanAmount.fillna(value = 128 , inplace = True)

In [ ]:
train.Loan_Amount_Term.describe()

In [ ]:
train.Loan_Amount_Term.fillna(value = 360 , inplace = True)
test.Loan_Amount_Term.fillna(value = 360 , inplace = True)

In [ ]:
train.Credit_History.value_counts()

In [ ]:
train.Credit_History.fillna(value = 1.0 , inplace=True)
test.Credit_History.fillna(value = 1.0 , inplace = True)

In [ ]:
train.shape

In [ ]:
test.shape

In [4]:
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier

In [5]:
sc = StandardScaler()

In [6]:
ohe_train = pd.get_dummies(train)
ohe_test = pd.get_dummies(test)

In [7]:
ohe_train.shape

(614, 636)

In [8]:
ohe_test.shape

(367, 387)

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
le=LabelEncoder()
train.Loan_Status=le.fit_transform(train.Loan_Status)

In [11]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,1
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,0
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,1
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,1
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,1

In [12]:
newtrain = train.drop(["Loan_ID","Education","Married" , "Property_Area"],axis = 1)

In [13]:
newtest = test.drop(["Loan_ID","Education" , "Married","Property_Area"],axis = 1)

In [14]:
newtrain.head()

,Gender,Dependents,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
0,Male,0,No,5849,0.0,NaN,360.0,1.0,1
1,Male,1,No,4583,1508.0,128.0,360.0,1.0,0
2,Male,0,Yes,3000,0.0,66.0,360.0,1.0,1
3,Male,0,No,2583,2358.0,120.0,360.0,1.0,1
4,Male,0,No,6000,0.0,141.0,360.0,1.0,1

In [15]:
newtrain.shape

(614, 9)

In [ ]:
newtest.head()

In [ ]:
newtest.shape

In [ ]:
newtrain.shape

In [16]:
ohe_train = pd.get_dummies(newtrain)

In [17]:
ohe_test = pd.get_dummies(newtest)

In [18]:
ohe_train.shape

(614, 14)

In [20]:
ohe_test.shape

(367, 13)

In [21]:
from sklearn.preprocessing import StandardScaler

In [22]:
sc = StandardScaler()

In [23]:
x = pd.DataFrame(sc.fit_transform(ohe_train.drop("Loan_Status",axis = 1)))

C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [24]:
scaled_test = pd.DataFrame(sc.fit_transform(ohe_test))

C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [25]:
y = train.Loan_Status

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.30 , random_state = 100)

In [31]:
from sklearn.tree import DecisionTreeRegressor

In [32]:
dtree  = DecisionTreeRegressor()

In [33]:
model  = dtree.fit(x,y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [ ]:
model

In [ ]:
model_tree = model.predict(scaled_test)

In [ ]:
model_tree

In [ ]:
from sklearn.metrics import accuracy_score , cohen_kappa_score , confusion_matrix,classification_report

In [ ]:
accuracy_score(ytest , predictions)

In [ ]:
sol = pd.DataFrame({"Loan_ID":test.Loan_ID , "Loan_Status":model_tree})

In [ ]:
sol.head()

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
Kn =KNeighborsClassifier()

In [ ]:
knn = Kn.fit(x,y)

In [ ]:
model_knn = knn.predict(scaled_test)

In [ ]:
model_knn

In [ ]:
sol = pd.DataFrame({"Loan_ID":test.Loan_ID,"Loan_Status":model_knn})

In [ ]:
sol.head()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns